%h1 Your cities

%table
  %tr
    %th Name
    %th Budget
    %th Space (free)
    %th Action
  - for city in @cities
    %tr
      %td= city.name
      %td= city.budget
      %td= city_space_summary(city)
      %td= link_to "Visit", city_path(city)

%p= link_to "Create new city", new_city_path
