%h1= @city.name

%h3 Information
%dl
  %dt Budget
  %dd= @city.budget
  %dt Free space
  %dd
    = @city.free_space
    \/
    = @city.total_space

%h3 Buildings
%ul
  - for building in @city.buildings
    %li= building.name

%h3 Actions
- for command in CityCommands.all
  - if command.available?(:city => @city)
    = form_tag manage_city_path(@city) do
      = hidden_field_tag "command", command.name
      = submit_tag command.label.capitalize
  - else
    = "You can't #{command.label} at the moment."
    %ul
      - for reason in command.unavailability_reasons(:city => @city)
        %li= reason
